li {
	width: 400px;
	height: 300px;
	list-style: none;
	float: left;
}

#carousel {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	border-style: solid;
	border-width: 10px;
	border-color: black;
	overflow: hidden;
	position: relative;
}

ul {
	width: 2000px;
	list-style: none outside none;
	margin: 0;
	padding-left: 0;
}

.left {
	position: absolute;
	margin-top: 150px;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 30px;
	background: rgba(0,0,0, 0);
}

.right {
	position: absolute;
	margin-top: 150px;
	margin-right: 10px;
	right: 0;
	padding-right: 10px;
	font-size: 30px;
	background: rgba(0,0,0, 0);
}